{% load static %}

<nav>
    <div class="navbar navbar-expand-md bar-background">
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-fill w-100 me-auto">
                <li class="nav-item"><a class="nav-link bar-link" href="{% url 'base:index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link bar-link" href="{% url 'base:members' %}">Members</a></li>
                <li class="nav-item"><a class="nav-link bar-link" href="{% url 'projects:project_list' %}">Projects</a></li>
                <li class="nav-item"><a class="nav-link bar-link" href="{% url 'base:partners' %}">Partners</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link bar-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu bar-drop" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item bar-drop-item" href="{% url 'base:about_tour' %}">Lab Tour</a>
                      <a class="dropdown-item bar-drop-item" href="{% url 'base:about_music' %}">Playlists</a>
                      <a class="dropdown-item bar-drop-item" href="{% url 'base:about_resources' %}">Resources</a>
                    </div>
                  </li>
                <li class="nav-item"><a class="nav-link bar-link" href="{% url 'base:donate' %}">Donate</a></li>
            </ul>
        </div>
    </div>
</nav>