{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
<style>
    .box {
        padding: 10px;
        margin: 5px;
        height: 90% !important;
        color: var(--black);
    }

    .box:hover {
        border: solid 8px var(--blue);
        color: var(--black);
    }

    .light-blue {
        background-color: #0fccef99;
        border: solid 8px #0fccef05;
    }

    .light-blue-hr {
        border-color: #0fccef;
    }

    .light-blue:hover {
        border: solid 8px #0fccef;
    }

    .red {
        background-color: #fa5a4699;
        border: solid 8px #fa5a4605;
    }

    .red-hr {
        border-color: #fa5a46;
    }

    .red:hover {
        border: solid 8px #fa5a46;
    }

    .orange {
        background-color: #f2972999;
        border: solid 8px #f2972905;
    }

    .orange-hr {
        border-color: #f29729;
    }

    .orange:hover {
        border: solid 8px #f29729; 
    }

    .purple {
        background-color: #8751f799;
        border: solid 8px #8751f705;
    }

    .purple-hr {
        border-color: #8751f7;
    }

    .purple:hover {
        border: solid 8px #8751f7;    
    }
</style>
{% endblock %}

{% block main %}
    <h1 class="primary"><strong>Projects</strong></h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-xl-4 col-lg-6 col-sm-12">
                <a href="{% url 'projects:project_detail' project.id %}" class="box card 
                {% if project.id|divisibleby:'4' %}light-blue
                {% elif project.id|divisibleby:'3' %}red
                {% elif project.id|divisibleby:'2' %}orange
                {% elif project.id|divisibleby:'1' %}purple
                {% endif %}">
                    <div class="card-body text-center">
                        <p><strong>{{ project.title }}</strong></p>
                        <p>{{ project.author_string }}</p>
                        <hr class=" 
                        {% if project.id|divisibleby:'4' %}light-blue-hr
                        {% elif project.id|divisibleby:'3' %}red-hr
                        {% elif project.id|divisibleby:'2' %}orange-hr
                        {% elif project.id|divisibleby:'1' %}purple-hr
                        {% endif %}">
                        <p>{{ project.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}