from . import BASE_DIR


# Security

DEBUG = True

SECRET_KEY = 'django-insecure-+94!678*7n^v@753(d@%ce^7%=#vfqor0$3n3l^9*ya7-6tipn'

if DEBUG:
    ALLOWED_HOSTS = ['localhost', '127.0.0.1']
else:
    ALLOWED_HOSTS = ['']


# Database

if DEBUG:
    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.sqlite3',
            'NAME': BASE_DIR / 'db.sqlite3',
        }
    }
else:
    DATABASES = {
        "default": {
            "ENGINE": 'django.db.backends.postgresql_psycopg2',
            "NAME": '',
            "USER": '',
            "PASSWORD": '',
            "HOST": '',
            "PORT": '',
        }
    }


# Authentication

AUTHENTICATION_BACKENDS = ['qlab.apps.base.oauth.IonOauth2']

if DEBUG:
    AUTH_PASSWORD_VALIDATORS = []
    AUTHENTICATION_BACKENDS.append('django.contrib.auth.backends.ModelBackend')

SOCIAL_AUTH_ION_KEY = ''

SOCIAL_AUTH_ION_SECRET = ''

SOCIAL_AUTH_REDIRECT_IS_HTTPS = not DEBUG
