{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
    <style>
        .img {
            width: 70%;
            max-width: 405px;
            max-height: 300px;
        }

        .box {
            margin: 30px;
        }

        @media(max-width:576px) {
            .move-center {
                margin-top: 20px;
                text-align: center !important;
            }
        }
    </style>
{% endblock %}

{% block main %}
    <h1 class="primary"><strong>Resources</strong></h1>
    <div>
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="row box">
                    <div class="col-sm-6 col-xs-12 move-center">
                        <img class="img" src="{% static 'img/resources_page/action2.jpg' %}" />
                    </div>
                    <div class="col-sm-6 col-xs-12 move-center">
                        <h3>Learn Quantum</h3>
                        <ul>
                            {% for item in learn %}
                                <li><a href="{{ item.link }}" target="_blank">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="row box">
                    <div class="col-sm-6 col-xs-12 move-center">
                        <img class="img" src="{% static 'img/resources_page/Cicada1.jpg' %}" />
                    </div>
                    <div class="col-sm-6 col-xs-12 move-center">
                        <h3>Articles</h3>
                        <ul>
                            {% for item in articles %}
                                <li><a href="{{ item.link }}" target="_blank">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>            
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="row box">
                    <div class="col-sm-6 col-xs-12 move-center">
                        <img class="img" src="{% static 'img/resources_page/equipment9.jpg' %}" />
                    </div>
                    <div class="col-sm-6 col-xs-12 move-center">
                        <h3>Competitions + Games</h3>
                        <ul>
                            {% for item in comps %}
                                <li><a href="{{ item.link }}" target="_blank">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="row box">
                    <div class="col-sm-6 col-xs-12 move-center">
                        <img class="img" src="{% static 'img/resources_page/equipment7.jpg' %}" />
                    </div>
                    <div class="col-sm-6 col-xs-12 move-center">
                        <h3>Opportunities</h3>
                        <ul>
                            {% for item in opps %}
                                <li><a href="{{ item.link }}" target="_blank">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>              
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}