{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
<style>
    .info-text {
        padding: 15px;
        margin: 5px;
    }

    .img {
        width: 100%;
        height: 40vh;
    }

    .box {
        border-color: transparent;
        height: 90% !important;
    }
</style>
{% endblock %}

{% block main %}
    <div class="text-center">
        <p class="info-text mission-text">
            Each year, the Quantum Physics and Optics lab gets a fresh batch of students, ready 
            to use the high caliber equipment to conduct complicated optical experiments. This is 
            made possible by the <a target="_blank" href="https://www.tjpartnershipfund.org/">Thomas Jefferson 
            Partnership Fund</a> and their generous donors. 
        </p>
        <a class="q-btn" target="_blank" href="https://www.tjpartnershipfund.org/about/mission-and-history">Learn More</a>
        <a class="q-btn" target="_blank" href="https://www.tjpartnershipfund.org/donate">Donate</a>
        <br><hr><br>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="box card">
                    <div class="card-body">
                        <img class="img" src="{% static 'img/moose.jpeg' %}" />                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="box card">
                    <div class="card-body">
                        <img class="img" src="{% static 'img/moose.jpeg' %}" />                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="box card">
                    <div class="card-body">
                        <img class="img" src="{% static 'img/moose.jpeg' %}" />                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" style="margin:0px !important;padding:0px !important;">
                <div class="box card">
                    <div class="card-body" style="margin:0px !important;padding:0px !important;">
                        <img class="img" src="{% static 'img/action/action1.jpg' %}" />                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" style="margin:0px !important;padding:0px !important;">
                <div class="box card">
                    <div class="card-body" style="margin:0px !important;padding:0px !important;">
                        <img class="img" src="{% static 'img/action/action4.jpg' %}" />                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" style="margin:0px !important;padding:0px !important;">
                <div class="box card">
                    <div class="card-body" style="margin:0px !important;padding:0px !important;">
                        <img class="img" src="{% static 'img/moose.jpeg' %}" />                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12" style="margin:0px !important;padding:0px !important;">
                <div class="box card">
                    <div class="card-body" style="margin:0px !important;padding:0px !important;">
                        <img class="img" src="{% static 'img/moose.jpeg' %}" />                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}