{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
<style>
    .info-text {
        padding: 15px;
        margin: 5px;
    }

    .img {
        height: 200px;
        padding: 3px;
    }
</style>
{% endblock %}

{% block main %}
    <div class="text-center">
        <p class="info-text mission-text">
            Each year, the Quantum Information and Optics Lab gets a fresh batch of students, ready 
            to use the high caliber equipment to conduct complicated optical experiments. This is 
            made possible by the <a target="_blank" href="https://www.tjpartnershipfund.org/">Thomas Jefferson 
            Partnership Fund</a> and their generous donors. If you would like to contribute, please indicate 
            that your donation should go to the Quantum Information and Optics Lab in the Memo Line of your online gift.
        </p>
        <a class="q-btn" target="_blank" href="https://www.tjpartnershipfund.org/about/mission-and-history">Learn More</a>
        <a class="q-btn" target="_blank" href="https://www.tjpartnershipfund.org/donate">Donate</a>
        <br><hr><br>
        <div>
            <img class="img" src="{% static 'img/donate_page/equipment3.jpg' %}" />
            <img class="img" src="{% static 'img/donate_page/equipment4.jpg' %}" />
            <img class="img" src="{% static 'img/donate_page/equipment12.jpg' %}" />
            <img class="img" src="{% static 'img/donate_page/equipment15.jpg' %}" />
            <img class="img" src="{% static 'img/donate_page/equipment16.jpg' %}" />
            <img class="img" src="{% static 'img/donate_page/equipment17.jpg' %}" />
            <img class="img" src="{% static 'img/donate_page/equipment22.jpg' %}" />
            <img class="img" src="{% static 'img/donate_page/equipment25.jpg' %}" />
            <img class="img" src="{% static 'img/donate_page/equipment26.jpg' %}" />
            <img class="img" src="{% static 'img/donate_page/equipment28.jpg' %}" />
            <img class="img" src="{% static 'img/donate_page/equipment29.jpg' %}" />
            <img class="img" src="{% static 'img/donate_page/laser.jpg' %}" />
        </div>
    </div>
{% endblock %}